body {
	margin: 0;
	font-size: 14px;
	line-height: 15px;
}

#top_img {
	margin-top: 50px;
	width: 360px;
	height: 240px;
	border-style: solid;
	border-color: cornflowerblue;
	border-width: 5px;
}

.choice {
	border-style: solid;
	border-color: cornflowerblue;
	border-width: 5px;
}

#stage {
	background-color: linen;
}

#top_container {
	width:450px;
	height:300px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}	

#options_container {
	bottom: 150px;
}

#teacher {
	width: 216px;
	height: 275px;
	position: absolute;
	bottom:450px;
	right:75px;
}

#robot_left {

	height: 150px;
	width: 150px;
	position: absolute;
	bottom: 0;
	left:0;
}

#robot_right {
	float: right;
	height: 150px;
	width: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: scaleX(-1);
}

#left {
	float:left;
	margin-left:100px;
	margin-top: 75px;
	width: 360px;
	height: 240px;
}

#right {
	float:right;
	margin-right:100px;
	margin-top: 75px;
	width: 360px;
	height: 240px;
}

.col-xs-6 {
	padding-top: 150px;
	padding-left: 70px;
}
	
.col-xs-4 {
	padding-top: 200px;
	height: 100%;
	background: #041E42;
}

.btn {
	background: #041E42;
	color: white;
	border-radius: 0;
}

.form-control {
	width:auto;
	display:inline-block;
	border-radius: 0;
}

.input-group {
	width: 357px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn:active, .btn:hover{
	background: #041E42;
	color: white;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.button-container {
	width:50%;
	height:50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-contained {
	font-size: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 100px;
	transform: translate(-50%, -50%);	
}

.pic-container {
	width:100%;
	padding-top:15%;
}

.pic {
	width: 100%;
}